{% extends 'base.html.twig' %}

{% block title %}Détail de la Tâche{% endblock %}

{% block body %}

<h1>Détail de la Tâche</h1>

    <div class="todoTitle">{{todo.title}}</div>        
        <div class="todoContent">{{todo.content}}</div>
        <div class="todoDone">Réalisée : {{todo.isDone}}</div>
        <div class="todoDoneAt">Date réalisation :{{todo.doneAt|date('Y-m-d H:i:s')}}</div>
        <div class="todocreateddAt">{{todo.createdAt|date('Y-m-d H:i:s')}}</div> 
       <a href="{{ path('todo_modify', {id: todo.id}) }}">modifier la tâche</a> 
    </div>
 
{% endblock %}


